<div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header pb-0">
                        <h5 class="card-title">Son Siparişler</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mb-0">
                                <thead class="table-secondary">
                                    <tr>
                                        <th>Sipariş Id</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Toplam</th>
                                        <th>Tarih</th>
                                        <th>Durum</th>
                                        <th style="width: 40px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>sübüş1</td>
                                        <td>4000tl</td>
                                        <td>19/07/2002</td>
                                        <td>
                                            <span class="badge bg-success ">Teslim Edildi</span>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>sübüş2</td>
                                        <td>5000tl</td>
                                        <td>19/07/2002</td>
                                        <td>
                                            <span class="badge bg-primary ">Onay Bekliyor</span>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>sübüş3</td>
                                        <td>1000tl</td>
                                        <td>19/07/2002</td>
                                        <td>
                                            <span class="badge bg-primary ">Onay Bekliyor</span>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>sübüş4</td>
                                        <td>2000tl</td>
                                        <td>19/07/2002</td>
                                        <td>
                                            <span class="badge bg-danger ">İptal Edildi</span>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>sübüş5</td>
                                        <td>8000tl</td>
                                        <td>19/07/2002</td>
                                        <td>
                                            <span class="badge bg-primary ">Onay Bekliyor</span>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>